<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="css/index.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>


                <div class="stolice">
                    <img src="../../images/stolica11.png">
                    <img src="../../images/stolica33.png">
                    <img src="../../images/stolica11.png">
                    <img src="../../images/stolica22.png">
                    <img src="../../images/stolica33.png">
                    <img src="../../images/stolica11.png">
                    <img src="../../images/stolica33.png">


                </div>


                <div class="skroling">
                    <a>
                        <img id="slika" src="../../images/DSCF7990.JPG">
                    </a>
                </div>

                <div>
                    <h1 class="box">DOBRODOŠLI U SVIJET<br> KOMFORA</h1>
                    <h3 class="boxy">NEUDOBNOST JE NAŠ NEPRIJATELJ. SVI NAM KAŽU DA SMO POBIJEDILI NEPRIJATELJA.</h3>
                </div>

                <div class="prvi-opis-1">

                    <img class="opis-2" src="../../images/fotelja.jpg" alt="popaj">

                    <p class="opis-2"> Firma OMS d.o.o. je nastala još 2003. godine u Loparama, na obroncima Majevice.
                        <br> Naša firma se trenutno bavi proizvodnjom i prodajom rattan namještaja.
                        <br> Rattan je prvobitno nastao kao materijal uz pomoć kojes su se pravile
                        <br> pletene stolice i stolovi.
                        <br> Međutim, populariziran je kada je metoda pletenja namještaja
                        <br> prešla kao forma na sve vrste materijala, ne samo rattan.<br>
                    </p>
                </div>

                <div class="prvi-opis">

                    <img src="../../images/DSCF8047.JPG" alt="hopa">

                    <img class="predmet" src="../../images/podloga1.png" alt="popaj">

                    <p class="opis-1">Visokodizajnirani namještaj najbolje kvalitete<br> koji zadovoljava i italijanske standarde <br> zasigurno će vas ostaviti bez daha nakon što isprobate <br> Najbolja osobina najšeg namještaja<br> jeste i pristupačna cijena za premium
                        proizvod.
                        <br> Da biste se uvjerili da nudimo iznimnu kvalitetu našeg namještaja, <br> možete doći u Čelić i pogledati.
                        <br>
                    </p>
                </div>



                <div>
                    <h1 id="vjezba">O NAMA</h1>
                    <img id="vjezbica-1" src="../../images/DSCF7971.JPG" alt="bomee">

                    <img id="vjezbica" src="../../images/podloga1.png" alt="popaj">
                    <p class="opis-3">
                        Firma OMS d.o.o. je nastala još 2003. godine u Loparama, na obroncima Majevice.
                        <br> Naša firma se trenutno bavi proizvodnjom i prodajom rattan namještaja.
                        <br> Rattan je prvobitno nastao kao materijal uz pomoć kojes su se pravile
                        <br> pletene stolice i stolovi.
                        <br> Međutim, populariziran je kada je metoda pletenja namještaja
                        <br> prešla kao forma na sve vrste materijala, ne samo rattan.<br>
                    </p>
                </div>
                <div class="prvi-opis">
                    <img id="vjezbica-2" src="../../images/DSCF8024.JPG">
                    <img id="vjezbica-3" src="../../images/podloga1.png" alt="popaj">
                    <p class="opis-4">
                        Firma OMS d.o.o. je nastala još 2003. godine u Loparama, na obroncima Majevice.
                        <br> Naša firma se trenutno bavi proizvodnjom i prodajom rattan namještaja.
                        <br> Rattan je prvobitno nastao kao materijal uz pomoć kojes su se pravile
                        <br> pletene stolice i stolovi.
                        <br> Međutim, populariziran je kada je metoda pletenja namještaja
                        <br> prešla kao forma na sve vrste materijala, ne samo rattan.<br>
                    </p>
                </div>

                <div class="hopa">
                    <p class="footer"></p>
                </div>

                <div class="ikonica">
                    <img id="slikica1" src="../../images/instagram.png" alt="mobe"> &nbsp;&nbsp;&nbsp;
                    <img id="slikica2" src="../../images/lajk.png" alt="bome">

                </div>





                <div class="linkic">
                    <button onclick="idemoNaIns()">OMS NA INSTAGRAM-U</button>
                    <button onclick="idemoNaFb()">OMS NA FACEBOOK-U</button>
                </div>






                <script>
                    const idemoNaFb = () => {
                        window.location.href = "https://www.facebook.com/oms.rattan.namjestaj"
                    }
                    const idemoNaIns = () => {
                        window.location.href = "https://www.instagram.com/oms_rattan/"
                    }
                </script>

            </main>
            <%- include('../includes/end.ejs') %>